{
  "extends": "eslint-config-es5",
  "parserOptions": {
    "ecmaVersion": 5
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "comma-spacing": "off",
    "valid-jsdoc": "off",
    "indent": "off",
    "no-param-reassign": "off"
  }
}